body{
  background-color: #d3e0ea;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  opacity: 60%;
}

h1 {
  color: #276678;
}

h3 {
  color: #276678;
}
